body,
button,
input,
select,
optgroup,
textarea {
	color: var(--body-copy);
	font-family: 'Questrial', sans-serif;
}

.site-footer h1,
.site-footer h2 {
    font-family: 'Marcellus SC', serif;
	text-transform: uppercase;
	letter-spacing: .125em;
}

.page-width,
.site-main {
	display: block;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1em;
}

