
.site-footer {
    display: block;
    width: 100%;
    background-color: var(--body-copy);
    color: #CCC;
}

.site-footer .payment {
    color: var(--white);
    color: antiquewhite;
    font-weight: bold;
    transition: all 2s solid;
}

.site-footer .payment:hover {
    color: var(--white);
    transition: all 2s solid;
}

.site-footer a {
    text-decoration: none;
    color: #CCC;
    transition: color .2s solid;
}

.site-footer a:hover {
    color: var(--white);
}

.site-footer .site-info {
    padding-top: 2em;
    padding-bottom: 2em;
}

.site-footer h2 {
    margin-top: 0;
    margin-bottom: .25em;
	letter-spacing: .125em;
}

.site-footer h4 {
    margin-top: 0;
    margin-bottom: 2.5em;
    letter-spacing: .01em;
}

.site-footer .copyright {
    display: block;
    width: 100%;
    background-color: #58595B;
    text-align: center;
    padding: .75em 0;
}

.footer-nav ul {
    list-style: none;
    padding: 0 0 2em;
    margin: 0;
}

.submit-payment {
    display: block;
    width: 100%;
}

.submit-payment .payment {
    display: block;
    margin: 0 auto;
}

/* @media screen and (min-width: 901px) {
    .site-footer {
        display: none;
    }
} */